.breadcrumbs {
    margin-bottom: 32px;

    .sprite {
        fill: #fff;
    }

    &__list {
        display: flex;
        align-items: center;
		white-space: nowrap;
		overflow-x: auto;
		scrollbar-width: none;
		min-width: auto;
		padding: 5px 0;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			height: 0;
			width: 0;
			display: none;
		}
    }

    &__item {
        font-size: 14px;
        line-height: 1em;
        color: #8CC6BF;
        position: relative;

        &+& {
            padding-left:32px;

            &:before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                margin-top: -12px;
                left: 4px;
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgNkwxNSAxMkw5IDE4IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &__link {
        color: #fff;
        display: block;
    }
}