.contact {
	background-color: #fff;
	padding: 32px 0 58px 0;
	.wrapper {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		@include phone {
			flex-direction: column;
			gap: 32px
		}
	}
	&__list {
		margin-bottom: 32px;
	}
	&__item {
		&+& {
			margin-top: 44px;
		}
		h3 {
			margin-bottom: 24px;
		}
	}
	&__form {
		width: 100%;
		max-width: 932px;
		margin-bottom: -178px;
		background-color: #fff;
		border-radius: 12px;
		@include phone {
			margin-bottom: -158px;
		}
		&-container {
			padding: 40px;
			border: 1px solid #DDE3EA;
			border-radius: 12px;
			@include desktop {
				padding: 16px;
			}
		}
		.c-input, .c-textarea, .c-select {
			margin-bottom: 0;
		}
	}

}

.box-grey__form {
	display: grid;
	grid-gap: 24px 16px;
	grid-template-columns: 1fr 1fr;
	@include tablet {
		grid-template-columns: 1fr;
	}
}