.form {
    width: 100%;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
}

::-moz-placeholder {
    color: #b7b7b7;
}

:-moz-placeholder {
    color: #b7b7b7;
}

:-ms-input-placeholder {
    color: #b7b7b7;
}
input, textarea {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.b-input,
.b-textarea {
    position: relative;
    width: 100%;
}

.c-input,
.c-textarea,
.c-select {
    margin-bottom: 16px;
    position: relative;

    &.form-entered {

        .input~.ttl-input,
        .textarea~.ttl-input {
            z-index: 0;
            font-size: 12px;
            top: 6px;
            color: #9f9fa7;
        }

        .input:hover~.close,
        .textarea:hover~.close,
        .input~.close:hover,
        .textarea~.close:hover,
        .input:focus~.close,
        .textarea:focus~.close {
            display: flex;
        }
    }

    &.error {

        .input,
        .select__selected {
            border-color: #ff4953;
            background-color: #fef0f0;
        }

        .ttl-input,
        .select__label {
            color: #ff4953 !important;
        }

        .form-error {
            display: block;
        }

        p.help-block-error {
            display: block;
        }
    }

    &.disabled {
        .select__selected {
            background: #f6f6f6;
        }

        .select__label {
            color: #bcbcbc !important;
        }

        .b-select {
            cursor: auto;
        }
    }
}

.b-input {
    &+& {
        margin-top: 16px;
    }

    .icon-close {
        width: 40px;
        font-size: 24px;
        height: 52px;
        line-height: 52px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        cursor: pointer;
        display: none;
    }

    .form-clear {
        width: 40px;
        height: 52px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        display: none;
    }

    &.error {
        .input {
            border-color: #ff4953;
            background-color: #fef0f0;
        }

        .ttl-input {
            color: #ff4953 !important;
        }
    }
}

p.help-block-error {
    display: none;
    margin: 4px 4px 0 4px !important;
    padding: 0 !important;
    font-size: 12px !important;
    color: #ff4953 !important;
    line-height: 1.2em !important;
}

.error-box {
    font-size: rem(14);
    line-height: 1.2em;
    color: #ff4953;
    padding: 10px;
    width: 100%;
    background-color: #ffe8e9;
    border-radius: 4px;
    margin-bottom: 16px;
}

.b-textarea {
    margin-top: 16px;
    margin-bottom: 16px;
}

.b-select {
    position: relative;
    width: 100%;
}

.input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    padding: 22px 12px 10px 12px;
    background: #fff;
    border: 1px solid #DDE3EA;
    font-size: 16px;
    color: #111111;
    -webkit-appearance: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

.ttl-input,
.select__label {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 12px;
    color: #000;
    padding: 0;
    z-index: 0;
    transition-duration: 0.125s;
    font-size: 16px;
    display: block;
    line-height: 1;
    margin: 0;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

.c-input .input.form-entered~label.ttl-input,
.c-input .input:focus~label.ttl-input,
.c-input .textarea.form-entered~label.ttl-input,
.c-input .textarea:focus~label.ttl-input,
.c-select.form-entered .select__label {
    z-index: 0;
    font-size: 12px;
    top: 6px;
    color: #9f9fa7;
}

.b-input .input:hover,
.b-input .textarea:hover {
    border: 1px solid #8CC6BF;
}
.b-input .input:focus,
.b-input .textarea:focus {
    border: 1px solid #8CC6BF;
	background: rgba(140, 198, 191, 0.2);
}

.c-input .input.form-entered:hover~.form-clear,
.c-input .textarea.form-entered:hover~.form-clear,
.c-input .input.form-entered:focus~.form-clear,
.c-input .textarea.form-entered:focus~.form-clear,
.c-input .input.form-entered~.form-clear:hover,
.c-input .textarea.form-entered:hover~.form-clear:hover {
    display: block;
}

.textarea {
    display: block;
    width: 100%;
    height: 56px;
    padding: 8px;
    resize: none;
    border: 1px solid #DDE3EA;
	background-color: #fff;
    border-radius: 8px;
    -webkit-appearance: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
}

.label {
    display: block;
    color: #000;
    font-size: 14px;
}

.b-checkbox {
    position: relative;

    &.disable {
        .checkbox__text:before {
            background-color: #f8f8f8;
        }

        .checkbox__text {
            color: #bcbcbc;
            cursor: auto;
        }
    }

    // @media screen and (min-width: 841px){
    label:active {
        .checkbox__text::before {
            background: #FFEFC3;
        }
    }

    // }

}

.b-checkbox input {
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
}

.checkbox__text {
    position: relative;
    padding: 0 0 0 34px;
    cursor: pointer;
    color: #111111;
    display: inline-block;
    line-height: 24px;
}

.checkbox__text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
	border-radius: 8px;
	border: 1px solid #F95738;
    transition: 0.2s;
}

.b-checkbox input:checked+.checkbox__text:after,
.b-checkbox input:checked+a span:after {
    content: "";
    background-color: #F95738;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE0LjYsMy4yYzAuMywwLjMsMC4zLDAuOCwwLDEuMWwtNy42LDcuNWMtMC4zLDAuMy0wLjgsMC4zLTEuMSwwTDIuMiw4LjFDMS45LDcuOCwxLjksNy4zLDIuMiw3CglDMi41LDYuNywzLDYuNywzLjMsN2wzLjIsMy4ybDctN0MxMy44LDIuOSwxNC4zLDIuOSwxNC42LDMuMnoiLz4KPC9zdmc+Cg==);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
    position: absolute;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    transition: all 0.1s linear;
	border: 1px solid transparent;
}

.c-input,
.c-select {
    width: 100%;
}

.c-radio,
.c-check {
    width: 100%;
    margin-bottom: 16px;
}

.b-button {
	margin-top: 16px;
}

.button {
	height: 48px;
	background: #282f6c;
	border-radius: 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	line-height: 48px;
	padding: 0px 28px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.8px;
	-webkit-appearance: none;
	&:hover {
		opacity: 0.9;
	}

}
.btn-transparent {
    display: inline-block;
    background-color: transparent;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #626cc3;
    font-weight: 700;
    font-size: 14px;
}
.btn-link {
	font-weight: bold;
	font-size: 14px;
	color: $blue;
}
.btn-border {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	border-radius: 30px;
	padding: 2px 16px;
	flex-shrink: 0;

}
.btn-border-green {
	border: 1px solid #8CC6BF;
	color: #8CC6BF;
}

.btn-border-orange {
	border: 1px solid #F95738;
	color: #F95738;
	background: #FFFFFF;

}

.btn {
    border-radius: 30px;
    height: 48px;
    padding: 0 32px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-icon {
	padding: 0 16px;
}
.btn-orange {
    background: #F95738;
    color: #fff;
}

.label-room {
	display: flex;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	border-radius: 12px;
	padding: 16px;
	&__img {
		position: relative;
		width: 84px;
		height: 84px;
		border-radius: 12px;
		overflow: hidden;
		margin-right: 16px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__price {
		margin-left: auto;
		align-self: flex-end;
		flex-shrink: 0;
	}
	&:before {
		content: "";
		position: absolute;
		top: 16px;
		right: 16px;
		width: 30px;
		height: 30px;
		border-radius: 8px;
		border: 1px solid #F95738;
		transition: 0.2s;
	}
}

.b-checkbox input:checked+.label-room {
	border-color: #F95738;
}
.b-checkbox input:checked+.label-room:after {
    content: "";
    background-color: #F95738;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE0LjYsMy4yYzAuMywwLjMsMC4zLDAuOCwwLDEuMWwtNy42LDcuNWMtMC4zLDAuMy0wLjgsMC4zLTEuMSwwTDIuMiw4LjFDMS45LDcuOCwxLjksNy4zLDIuMiw3CglDMi41LDYuNywzLDYuNywzLjMsN2wzLjIsMy4ybDctN0MxMy44LDIuOSwxNC4zLDIuOSwxNC42LDMuMnoiLz4KPC9zdmc+Cg==);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
    position: absolute;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    top: 16px;
    right: 16px;
    transition: all 0.1s linear;
	border: 1px solid transparent;
}

.box-grey__form-room {
	display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
	@include tablet {
		grid-template-columns: 1fr;
	}
}
