.header {
	background-color: #062A30;
	padding: 26px 0;
	@include tablet {
		padding: 14px 0;
	}
	@include phoneES {
		.btn {
			padding: 0 12px;
		}
	}
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include phone{
			display: flex;
			align-items: center;
		}
	}
	&__left, &__right {
		display: flex;
		align-items: center;
	}
	&__right {
		@include desktopHD {
			margin-left: auto;
			margin-right: 24px;
		}
		@include phoneES {
			margin-right: 12px;
		}
	}
    &__logo {
        flex-basis: 186px;
        min-width: 186px;
        margin-right: 32px;
		@include tablet {
			flex-basis: 136px;
			min-width: 136px;
		}
    }
	&__contact {
        display: flex;
		align-items: center;
		flex-shrink: 0;
		@include phone {
			display: none;
		}
    }
    &__menu {
		@include desktopHD {
			order: 1;
		}

    }
}

.menu {
    position: relative;
	&__close {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		cursor: pointer;

	}
	&__head {
		display: none;
		@include desktopHD {
			display: flex;
			justify-content: space-between;
			background-color: #062A30;
			z-index: 100;
			position: relative;
			padding: 31px 24px;
			align-items: center;
		}
		@include tablet {
			padding: 20px 24px;
		}
		@include phoneES {
			padding: 20px 12px;
		}
	}
    &__list {
		display: flex;
		@media (max-width: 1439px) {
			margin-left: 16px;
		}
        @include desktopHD {
			position:  absolute;
			top: 80px;
			left: 0;
			bottom: 0;
			width: 100%;
			flex-direction: column;
			z-index: 99;
			padding: 20px 24px;
			overflow: auto;
			margin: 0;
        }
		@include tablet {
			top: 66px
		}
		@include phoneES {
			padding: 20px 12px;
		}
    }
    &__item {
		position: relative;
		&+& {
			margin-left: 32px;
			@media (max-width: 1439px) {
				margin-left: 16px;
			}
			@include desktopHD {
				margin-left: 0;
			}
		}
		@include desktopHD {
			border-bottom: 1px solid rgba(140, 198, 191, 0.4);
			padding: 16px 0;
		}
    }
	&__link {
		display: block;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover, &.active {
			color: #8CC6BF;
		}
	}

    &__box {
        @include desktopHD {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
			background-color: #062A30;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s;
            &.active {
                visibility: visible;
                opacity: 1;
                .menu__list {
                    left: 0;
                }
            }
        }
    }
    &__hamburger {
        display: none;
        align-items: center;
		@include desktopHD {
			display: flex;
			width: 36px;
			height: 36px;
			justify-content: center;
			align-items: center;
		}
    }
	&__footer {
		display: none;
		@include tablet {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 32px 0;
			.languages {
				display: flex;
			}
			.btn-video {
				display: inline-flex;
				margin-right: 0;
			}
		}
	}
}

.btn-video {
	@include tablet {
			display: none;
	}
}

.hamburger {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.languages {
	cursor: pointer;
	color: #8CC6BF;
	display: flex;
	align-items: center;
	margin-right: 16px;
	position: relative;
	&:hover {
		.languages__dropdown {
			display: block;
		}
	}

	&__dropdown {
		display: none;
		position: absolute;
		bottom: -24px;
		&::before {
			content: '';
			height: 10px;
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			top: -6px;

		}
	}
	&__btn {
		&:hover {
			color: #fff;
		}
	}
	@include tablet {
		display: none;
	}
}