.header {
	background-color: #062A30;
	padding: 26px 0;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include phone{
			display: flex;
			align-items: center;
		}
	}
	&__left, &__right {
		display: flex;
		align-items: center;
	}
    &__logo {
        flex-basis: 186px;
        min-width: 186px;
        margin-right: 32px;
    }
	&__contact {
        display: flex;
		align-items: center;
		flex-shrink: 0;
    }
    &__main {
        display: flex;
        align-items: center;
        position: relative;
        padding: 12px 0;
		@include phone {
			padding: 6px 0;
			flex-grow: 1;
		}
    }

    &__menu {

    }
}

.menu {
    position: relative;
	&__close {
		display: block;
		width: 36px;
		.sprite {
			fill: $blue;
		}
	}
    &__list {
		display: flex;
        padding: 0 36px;
        @include tablet {
			padding: 0 16px;
        }
        @include phone {
			position:  absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			flex-direction: column;
			background-color: #fff;
			z-index: 99;
			padding: 0;
			overflow: auto;

        }
    }
    &__item {
		position: relative;
		&+& {
			margin-left: 32px;
		}
		@media (min-width: 768px) {
			&:hover {
				.menu__link {
					color: #fff;
					background-color: #626cc3;
				}
				.sub-menu__list {
					display: block;
				}
			}
		}
		@include phone {
			padding: 0 16px;
			position: relative;
			border-bottom: 1px solid #DCDBF0;

			&.opened {
				background-color: #F7F6FB;
				.menu__link {
					.sprite {
						transform: rotate(-180deg);
					}
				}
			}
		}
    }
	&__link {
		display: block;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover {
			color: #062A30;
		}
		@include phone {
			font-size: 16px;
			padding: 18px 0;
			color: $default_color;
			&--triger {
				padding: 0;
			}

			.sprite {
				position: absolute;
				right: 20px;
				top: 14px;
				display: block;
				fill: $blue;
			}
		}
	}

    &__box {
        @include phone {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s;
            &.active {
                visibility: visible;
                opacity: 1;
                .menu__list {
                    left: 0;
                }
            }
        }
    }
	.menu__overlay {
		@include phone {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(35, 44, 89, .75);
			z-index: 99;
		}
    }
    &__hamburger {
        display: none;
        align-items: center;
		@include phone {
			display: flex;
			width: 36px;
			height: 36px;
			justify-content: center;
			align-items: center;
		}
    }
    &__hamburger-ttl {
        color: #ffffff;
        letter-spacing: 0.3px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.hamburger {
    width: 24px;
    height: 18px;
    cursor: pointer;
    .line {
        width: 24px;
        height: 3px;
        background-color: $blue;
        display: block;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
    }

    &.active .line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    &.active .line:nth-child(2) {
        opacity: 0;
    }

    &.active .line:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    & .line:nth-child(1) {
        margin-top: 0;
    }

    & .line:nth-child(3) {
        margin-bottom: 0;
    }
}

.languages {
	cursor: pointer;
	color: #8CC6BF;
	display: flex;
	align-items: center;
	margin-right: 16px;
	&__dropdown {
		display: none;
	}
}