

.main-swiper{
	width: 100%;
	height: 302px;
	margin-top: 16px;
	@include phone {
		height: 100%;
		background-color: $dark_blue;
	}
	.ul {
		margin-bottom: 0;
	}
	.ul .li, .ol .li {
		padding-left: 14px;
	}
	.ul .li:before {
		left: 0px;
    	top: 11px;
	}
	.ul .li, .ol .li {
		margin-bottom: 4px;
	}

	&__text {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 522px;
		background-color: $dark_blue;
		color: #fff;
		padding: 50px;
		font-size: 18px;
		line-height: 140%;
		display: flex;
		flex-direction: column;
		@include tablet {
			width: 50%;
			padding: 24px 24px 40px 24px;
			font-size: 16px;
		}
		@include phone {
			padding: 24px 24px 40px 24px;
			font-size: 16px;
			position: relative;
			width: 100%;
		}
	}
	&__box-img {
		width: 100%;
		height: 100%;
		position: relative;
		@include phone {
			height: 0;
    		padding-bottom: 39%;
		}

	}
	.swiper-slide {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	.swiper-pagination {
		text-align: right;
		padding: 0 12px;
	}
	.swiper-pagination-bullet {
		width: 16px;
		height: 8px;
		border-radius: 2px;
		background: #8289C6;
	}
	.swiper-pagination-bullet-active {
		background: $yellow;
	}
}

.swiper-slide-bg {
	background-position-x: left !important;
	background-size: 63% !important;
	@media (min-width: 768px) {
		background-position-x: left !important;
		background-size: 63% !important;
	}
}
.swiper-slide-bg {
	@include phone {
		background-position-y: top !important;
		background-size: 100% !important;
	}
}